<div class="{{if isCurrentRoute "active"}} title">
  <i class="dropdown icon"></i>
  {{moment-format route.created}}<br>
  {{route.originName}} — {{route.destinationName}}
</div>
<div class="{{if isCurrentRoute "active"}} content">
  <ul class="ui tiny list">
    <li><b>ID:</b> {{route.id}}</li>
    <li>
      <b>From:</b> {{route.originName}}
      (lat: {{route.origin.coordinates.[0]}}, lon: {{route.origin.coordinates.[1]}})
    </li>
    <li>
      <b>To:</b> {{route.destinationName}}
      (lat: {{route.destination.coordinates.[0]}}, lon: {{route.destination.coordinates.[1]}})
    </li>
  </ul>
  <button class="ui red tiny button" {{action "removeRoute" route}}>
    <i class="icon remove"></i>
    Delete
  </button>
</div>
{{!-- {{yield}} --}}
