<div class="title" {{action "viewRoute" route}}>
  <i class="dropdown icon"></i>
  {{moment-format route.created}}<br>
  {{route.originName}} — {{route.destinationName}}
</div>
<div class="content">
  <ul class="ui tiny list">
    <li><b>ID:</b> {{route.id}}</li>
    <li>
      <b>From:</b> {{route.originName}}
      (lat: {{route.origin.coordinates.[0]}}, lon: {{route.origin.coordinates.[1]}})
    </li>
    <li>
      <b>To:</b> {{route.destinationName}}
      (lat: {{route.destination.coordinates.[0]}}, lon: {{route.destination.coordinates.[1]}})
    </li>
  </ul>
</div>
{{!-- {{yield}} --}}
